<mat-toolbar color="primary">
    <span>SuperCheck</span>
    <span class="spacer"></span>
    @if (authService.currentUser$ | async; as user) {
        <div class="user-info">
            <span>{{user.name}} ({{user.role}})</span>
            <button mat-icon-button (click)="onLogout()" matTooltip="Logout">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    }
</mat-toolbar>

@if (authService.currentUser$ | async; as user) {
    <mat-sidenav-container>
        <mat-sidenav mode="side" position="start" opened class="dark-sidenav">
            <div class="nav-items">
                <a mat-icon-button routerLink="/" matTooltip="Home">
                    <mat-icon>home</mat-icon>
                </a>
                @if (user.role === 'Supervisor') {
                    <a mat-icon-button routerLink="/usuarios" matTooltip="User Management">
                        <mat-icon>manage_accounts</mat-icon>
                    </a>
                    <a mat-icon-button routerLink="/categorias" matTooltip="Categorias">
                        <mat-icon>category</mat-icon>
                    </a>
                }
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
} @else {
    <div class="content">
        <router-outlet></router-outlet>
    </div>
}
